extends ../layout

block content
    h1= title
    table.shop_table
        tr
            th Name
            th Adress
            th Tel
            th Email
    
          
           
    
               
            th Delete
        if shop_list && shop_list.length > 0
            each shop in shop_list
                tr
                    td #{shop.Name}
                    td #{shop.Adress}
                    td #{shop.Tel}
                    td #{shop.Email}
                  
                   
                    if shopid
                        - var not_found = true
                        td.center
                            if shopid === shop.id
                                b You
                                - not_found = false
                          
                    td.center
                        a(href="/shop/delete?id=#{shop.id}")
                            img.icon(src="/images/delete.png")
        else
            tr
                td(colspan=6) No records




    h3= "Car Parts in Store"
    table.carparts_table
        tr
            th CarParts
           
    
               
       
        if shop_list && shop_list.length > 0
            each shop in shop_list
                tr
                
                    td #{shop.CarParts}
                    if shopid
                        - var not_found = true
                        td.center
                            if shopid === shop.id
                                b You
                                - not_found = false
                
        else
            tr
                td(colspan=6) No records


     h3= "Manufacturer"
    table.carparts_table
        tr
            th Manufacturer
           
    
               
           
        if shop_list && shop_list.length > 0
            each shop in shop_list
                tr
                    td #{shop.Manufacturer}
                    if shopid
                        - var not_found = true
                        td.center
                            if shopid === shop.id
                                b You
                                - not_found = false
                    
        else
            tr
                td(colspan=6) No records




      h3= "Staff"
    table.carparts_table
        tr
            th Staff
           
    
               
            
        if shop_list && shop_list.length > 0
            each shop in shop_list
                tr
                    td #{shop.Staff}
                    if shopid
                        - var not_found = true
                        td.center
                            if shopid === shop.id
                                b You
                                - not_found = false
           
        else
            tr
                td(colspan=6) No records
       


    

    