extends layout

block content
    h1 Welcome #{customer.First_Name}
   
    p Info about you:
        p First Name: #{customer.FirstName}
        p Last Name: #{customer.LastName}
        p Adress: #{customer.Adress}
        p Tel: #{customer.Tel}
        p Email: #{customer.Email}
       
        

    